table {
    width: 100%;
  }
  .mat-row {
    height: auto;
  }
  
  .mat-cell,mat-header-cell {
    padding: 10px 80px 20px 0;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }